@page "/fetchdata"

@using DevOps.Products.Website.Services.Interfaces
@using DevOps.Products.Website.Models.ViewModels
@inject IProductListService ProductListService

<h1>Products</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductListViewModel product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Brand</td>
                    <td>@product.Category</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	private ProductListViewModel[] products;

    protected override async Task OnInitializedAsync()
    {
		products = await ProductListService.GetProductListViewModelsAsync();
    }
}
